<header class="header-color p-3">
    <h1 class="text-3xl font-darumadrop flex items-center">
      ごはんいこ
      <img src="<%= asset_path('fork_spoon.svg') %>" alt="fork_spoon" class="w-10 h-10">
    </h1>
</header>